In [4]:
#range() function
 # the range function is a set of all possible outcomes in the pack and it returns a sequence of nuumers and increment by 
    #value 1 and stops before the final number get
    
mylist = [1, 2, 3 ,4 ,5, 6]
for num in range(3 , 10):
    print(num)

3
4
5
6
7
8
9

In [6]:
#print even numbers in list
for num in range (4,10,2):
    print(num)

4
6
8

In [9]:
list (range(0, 11 ,2))

[0, 2, 4, 6, 8, 10]

In [12]:
#enumerate function
word = 'Ashok teja'

for index ,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
A


1
s


2
h


3
o


4
k


5



6
t


7
e


8
j


9
a

In [15]:
#zip () function
#this fuction takes iterable function .and this iterator generates a series of tuples conaining elements from each iterable.
#zip() can accept any type of values either may be they are tuples, sets,dictionaries,lists.

mylist1 = ['a','s','h','o','k']
mylist2 = [1,2,3,4,5]
mylist3 = [123, 125,536,544,768,987]
for item in zip(mylist1,mylist2,mylist3):
        print(item)

('a', 1, 123)
('s', 2, 125)
('h', 3, 536)
('o', 4, 544)
('k', 5, 768)

In [16]:
list(zip(mylist1,mylist2))

[('a', 1), ('s', 2), ('h', 3), ('o', 4), ('k', 5)]

In [17]:
't'in [1,2,3]

False

In [18]:
'34' in [mylist1]

False

In [19]:
'a' in 'ashok'

True

In [21]:
'mykey' in {'mykey':125}

True

In [24]:
#math
mylist = [ 10, 20, 30, 40 ,50]
min(mylist)

10

In [25]:
max(mylist)

50

In [30]:
#shuffle( function)
#the shuffle( function takes input like a list) and reorganize the order of the listelements.
from random import shuffle
mylist = [1,2,3,5,6,6,7,]
random_list = shuffle(mylist)
type(random_list)

NoneType

In [31]:
mylist

[7, 1, 2, 6, 3, 5, 6]

In [33]:
from random import randint
randint(0 ,100)

84

In [34]:
randint(0,100)

90

In [35]:
mynum = randint(0,5)

In [36]:
mynum

5

In [ ]:
result = input('what is your name?')

In [ ]:
result

In [ ]:
result = input("favourite number:")

In [45]:
result

'46'

In [47]:
type(result)

str

In [48]:
float(result)

46.0

In [49]:
int(result)

46